<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="LogFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${user.home}/.itsucks/crawl.log" />
		<param name="MaxFileSize" value="5MB" />
		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%r:%p(%c{2}):%d (%F:%L) [%t] - %m%n"/>
		</layout>
	</appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="error"/> 
		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-4r [%t] %-5p (%c{3}) %x - %m%n"/>
		</layout>
	</appender>
	
	<logger name="de.phleisch.app.itsucks">
		<level value="warn"/> 
		<appender-ref ref="LogFile"/>
	</logger>
	
	<logger name="de.phleisch.app.itsucks.gui">
		<level value="info"/> 
	</logger>
	
	<root>
		<priority value="error"/>
		<appender-ref ref="STDOUT" />
	</root>
	
</log4j:configuration>
