/* General styles */
img {
	border:none;
}

a { 
	color: #0000ff;
}
a:visited { 
	color: #0000ff;
}

body { 
	min-width: 40em;
	font-family: "Helvetica","Arial","sans-serif";
}
/*
div {
	border: 1px dashed;
}

p {
	border: 1px dotted;
}*/

div#page { 
	max-width: 63em;
	min-height: 1150px;
	margin-left: auto;
	margin-right: auto;

	background-image: url("img/background.png");
	background-position: center 10em;
	background-repeat: no-repeat;
}

div#header {
	clear: both;
	background-color: #c1c7ff;
	background-image: url("img/blue_background2.png");
	background-repeat: repeat-x;
	background-position: top;
	height: 13em;
}

div#headerImage {
	margin-top: 0.5em;
	margin-left: 5em;
	width: 5em;
	height: 5em;
	overflow: visible;
	float:left;
}

div#downloadLatest {
	margin-right: 4em;
	margin-top: 3em;
	float: right;
	background-image: url("img/down2.png");
	background-repeat: no-repeat;
	width: 206px;
	height: 122px;
	text-align: center;
}

div#downloadLatest div {
	color: #ffffff;
	padding-top: 1.7em;
	text-align: center;
}

div#downloadLatest h1 {
	color: #ffffff;
	font-size: 1.6em;
	margin: 0em;
	text-align: center;
}

div#downloadLatest span {
	font-size: 0.8em;
	font-weight: bold;
}

div#headerText {
	padding-top: 6.5em;
	padding-left: 14em;
}

p#titleText {
	font-size: 4em;
	margin: 0em;
	margin-bottom: -0.2em;
}

p#titleText2 {
	font-size: 1.1em;
	color:#A43909;
	margin: 0em;
	font-weight: bold;
}

div#content {
}

div#main {
	max-width: 30em;
	margin: 0 14em 0 14em;
	padding: 0 1em;
}

div#navigation {
	float: left; width: 10em;
}

div#navigation ul {
	padding-left: 1.5em;
}

div#info1 {
	font-size: 0.8em;
	float: right; width: 15em;
}

div#info1 ul {
	padding-left: 1.5em;
}


div#info2 {
	font-size: 0.8em;
	clear: left;
	float: left; width: 12em;
	margin-top: 2em;
}

div#footer {
	clear: both;
}

h1 {
	color:#A43909;
}

h2 {
	color:#A43909;
}

h3 {
	color:#A43909;
	margin-bottom: 0em;
}

span.subHeader {
	color:#A43909;
	font-weight: bold;
}