/* General styles */
img {
	border:none;
}

a { 
	color: #0000ff;
}
a:visited { 
	color: #0000ff;
}

a.nodecoration {
	text-decoration: none;
}

body { 
	min-width: 40em;
	font-family: "Helvetica","Arial","sans-serif";
	margin: 0px;
	padding: 0px;
}
/* debug
div {
	border: 1px dashed;
}

p {
	border: 1px dotted;
}*/

div#page { 
	margin-left: auto;
	margin-right: auto;
	max-width: 63em;

	background-image: url("img/stormy_background.png");
	background-position: center 10em;
	background-repeat: no-repeat;
}

div#leftBorder {
	background: url("img/left_border.png") 0 0 repeat-y;
}

div#rightBorder {
	background: url("img/right_border.png") 100% 0 repeat-y;
}

div#contentArea { 
	min-height: 1150px;
	padding-left:10px; /* fuer den verlauf rechts und links */
	padding-right:10px;
}

div#header {
	clear: both;
	background-color: #bad7fe;
	background-image: url("img/blue_background.png");
	background-repeat: repeat-x;
	background-position: top;
	height: 13em;
}

div#headerImage {
	margin-top: 0.5em;
	margin-left: 5em;
	width: 5em;
	height: 5em;
	overflow: visible;
	float:left;
}

div#downloadLatest {
	margin-right: 4em;
	margin-top: 3em;
	float: right;
	background-image: url("img/download_button.png");
	background-repeat: no-repeat;
	width: 206px;
	height: 122px;
	text-align: center;
}

div#downloadLatest div {
	color: #ffffff;
	padding-top: 1.7em;
	text-align: center;
}

div#downloadLatest h1 {
	color: #ffffff;
	font-size: 1.6em;
	margin: 0em;
	text-align: center;
}

div#downloadLatest span {
	font-size: 0.8em;
	font-weight: bold;
}

div#headerText {
	padding-top: 6.5em;
	padding-left: 14em;
}

div#headerShadow {
	clear: both;
	margin-bottom: 1.5em;
}

div#headerShadowLeft {
	background-image: url("img/balken_links.png");
	background-repeat: no-repeat;
	width: 140px;
	height: 36px;
	float: left;
}

div#headerShadowMiddle {
	background-image: url("img/balken_mitte.png");
	background-repeat: repeat-x;
	height: 36px;
	margin-left: 140px;
	margin-right: 140px;
}

div#headerShadowRight {
	background-image: url("img/balken_rechts.png");
	background-repeat: no-repeat;
	width: 140px;
	height: 36px;
	float: right;
}

p#titleText {
	font-size: 4em;
	margin: 0em;
	margin-bottom: -0.2em;
}

p#titleText2 {
	font-size: 1.1em;
	color:#A43909;
	margin: 0em;
	font-weight: bold;
}

div#content {
	margin-left: 1em;
	margin-right: 1em;
}

div#main {
	max-width: 30em;
	margin: 0em 14em 0em 14em;
	padding: 0 1em;
}

div#main2Column {
	max-width: 59em;
	margin: 0em 0em 0 14em;
	padding: 0 1em;
}

div#leftColumn {
	float: left;
}

div#navigation {
	width: 10em;
}

div#navigation ul {
	padding: 0em;
	padding-bottom: 1.5em;
	list-style: none;
	margin: 0em; 
}

div#navigation li {
	margin-bottom: 0.6em;
}

a.menu {
	font-size: 1.1em;
	color:#A43909;
	text-decoration: none;
	font-weight: bold;
}

a.current {
	font-size: 1.1em;
	color:#3f78ca;
	text-decoration: none;
	font-weight: bold;
}

div#info1 {
	float: right; width: 12em;
}

div#info1 ul {
	padding-left: 1.5em;
}


div#info2 {
	font-size: 0.8em;
	width: 12em;
}

div#footer {
	clear: both;
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 3em;
}

div.footerText {
	font-size: 0.6em;
}

h1 {
	color:#A43909;
}

h2 {
	color:#A43909;
}

h3 {
	color:#A43909;
	margin-bottom: 0em;
}

span.subHeader {
	color:#A43909;
	font-weight: bold;
}

p.code {
	font-family: monospace;
	padding-left:1em;
	border:1px solid #ddd;
}

div.screenshot {
	float: left;
	margin-left: 0.4em;
	margin-right: 0.4em;
	margin-top: 0em;
	margin-bottom: 0.4em;
}

span.screenshotTitle {
	color:#A43909;
	font-size: 1.2em;
}

.small {
	font-size: 0.8em;
}
 